# Wrangle Tables into Relational Model

Tables:

- Wars
- War_Deaths
- War_LargerConflicts
- War_Locations
- Locations
- Participants
- War_Participants
- Participant_ParticipantTypes
- ParticipantTypes

In [1]:
import pandas as pd

In [2]:
war_par = pd.read_csv("Data/Queried/wars_participants.csv")
war = pd.read_csv("Data/Queried/wars.csv")
locs = pd.read_csv("Data/Queried/war_locations.csv")
par = pd.read_csv("Data/Queried/participants.csv")

In [3]:
war_par['warID'] = war_par['event'].str.split('/').str[-1]
war_par['participantID'] = war_par['participant'].str.split('/').str[-1]

war['warID'] = war['event'].str.split('/').str[-1]
war['locationID'] = war['location'].str.split('/').str[-1]
war['prevWarID'] = war['prevWar'].str.split('/').str[-1]
war['nextWarID'] = war['nextWar'].str.split('/').str[-1]
war['largerConflictID'] = war['largerConflict'].str.split('/').str[-1]

locs['locationID'] = locs['location'].str.split('/').str[-1]

par['participantID'] = par['participant'].str.split('/').str[-1]

## Create Wars table

Attributes:

- warID
- warName
- startDate
- endDate
- warDescription
- prevWarID
- nextWarID

In [4]:
war

,event,eventLabel,eventDescription,startDate,endDate,location,casualties,prevWar,nextWar,largerConflict,warID,locationID,prevWarID,nextWarID,largerConflictID
0,http://www.wikidata.org/entity/Q170682,Gaza War,December 2008-January 2009 armed conflict in t...,2008-12-27T00:00:00Z,2009-01-18T00:00:00Z,http://www.wikidata.org/entity/Q39760,NaN,NaN,NaN,http://www.wikidata.org/entity/Q553184,Q170682,Q39760,NaN,NaN,Q553184
1,http://www.wikidata.org/entity/Q170682,Gaza War,December 2008-January 2009 armed conflict in t...,2008-12-27T00:00:00Z,2009-01-18T00:00:00Z,http://www.wikidata.org/entity/Q39760,NaN,NaN,NaN,http://www.wikidata.org/entity/Q15059994,Q170682,Q39760,NaN,NaN,Q15059994
2,http://www.wikidata.org/entity/Q49092,1947–1949 Palestine war,Ando cheques no están depende si Israel War Th...,1947-10-30T00:00:00Z,1949-03-10T00:00:00Z,http://www.wikidata.org/entity/Q36755,NaN,NaN,NaN,http://www.wikidata.org/entity/Q8669,Q49092,Q36755,NaN,NaN,Q8669
3,http://www.wikidata.org/entity/Q179275,War in North-West Pakistan,armed conflict involving Pakistan and armed mi...,2004-03-16T00:00:00Z,NaN,http://www.wikidata.org/entity/Q208270,NaN,NaN,NaN,http://www.wikidata.org/entity/Q185729,Q179275,Q208270,NaN,NaN,Q185729
4,http://www.wikidata.org/entity/Q185729,War on Terror,international military campaign that started a...,2001-09-11T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,Q185729,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,http://www.wikidata.org/entity/Q16335075,War in Donbass,armed conflict in the Donbass region of Ukraine,2014-04-06T00:00:00Z,NaN,http://www.wikidata.org/entity/Q171965,375.0,NaN,NaN,http://www.wikidata.org/entity/Q16918333,Q16335075,Q171965,NaN,NaN,Q16918333
310,http://www.wikidata.org/entity/Q42410520,First Rwanda War,Civil War for Capital between 1963 to 1964,1963-01-01T00:00:00Z,1964-01-01T00:00:00Z,http://www.wikidata.org/entity/Q1037,NaN,NaN,NaN,NaN,Q42410520,Q1037,NaN,NaN,NaN
311,http://www.wikidata.org/entity/Q42306428,First Burundi War,Civil War for capital in 1972,1972-01-01T00:00:00Z,1972-01-01T00:00:00Z,http://www.wikidata.org/entity/Q967,NaN,NaN,NaN,NaN,Q42306428,Q967,NaN,NaN,NaN
312,http://www.wikidata.org/entity/Q1773984,Batalla del pan dulce,Batalla entre pacistas y ateos,1950-10-06T00:00:00Z,1951-01-01T00:00:00Z,http://www.wikidata.org/entity/Q1012419,NaN,NaN,NaN,http://www.wikidata.org/entity/Q13557549,Q1773984,Q1012419,NaN,NaN,Q13557549
313,http://www.wikidata.org/entity/Q42410655,Second Liberia War,Civil War for Capital between 1992 to 1995,1992-01-01T00:00:00Z,1995-01-01T00:00:00Z,http://www.wikidata.org/entity/Q1014,NaN,NaN,NaN,NaN,Q42410655,Q1014,NaN,NaN,NaN

In [5]:
war_table = war[['warID', 'eventLabel', 'eventDescription', 'startDate', 'endDate', 'prevWarID', 'nextWarID']].copy().drop_duplicates() \
            .rename(columns={'eventLabel':'warName', 'eventDescription':'warDescription'})

In [6]:
war_table[war_table.duplicated(subset=['warID'], keep=False)]

,warID,warName,warDescription,startDate,endDate,prevWarID,nextWarID
184,Q877450,Laotian Civil War,1959–1975 civil war in Laos,1959-05-23T00:00:00Z,1975-12-02T00:00:00Z,NaN,NaN
189,Q877450,Laotian Civil War,1959–1975 civil war in Laos,1953-11-09T00:00:00Z,1975-12-02T00:00:00Z,NaN,NaN
230,Q1773984,Batalla del pan dulce,Batalla entre pacistas y ateos,1950-01-01T00:00:00Z,1950-10-19T00:00:00Z,NaN,NaN
265,Q1773984,Batalla del pan dulce,Batalla entre pacistas y ateos,1950-10-06T00:00:00Z,1950-10-19T00:00:00Z,NaN,NaN
270,Q1773984,Batalla del pan dulce,Batalla entre pacistas y ateos,1950-01-01T00:00:00Z,1951-01-01T00:00:00Z,NaN,NaN
312,Q1773984,Batalla del pan dulce,Batalla entre pacistas y ateos,1950-10-06T00:00:00Z,1951-01-01T00:00:00Z,NaN,NaN

- for Q877450: drop 189 based on Wikipedia entry for war, which specifies start date of 23 May 1959
- for Q1773984: drop observations with less specificity (230, 270, 312) in favor of observation with most specificity (265)

In [7]:
war_table = war_table.drop([189, 230, 270, 312])

In [8]:
war_table.to_csv('Data/Wrangled/war.csv', index=False)

## Create the War tables for multivalued attributes

- War_Deaths
- War_LargerConflicts
- War_Locations

In [30]:
war_deaths = war[['warID', 'casualties']].copy().drop_duplicates().dropna().rename(columns={'casualties':'deaths'})
war_deaths['deaths'] = war_deaths['deaths'].astype(int)
war_deaths.to_csv('Data/Wrangled/war_deaths.csv', index=False)

In [10]:
war_locations = war[['warID', 'locationID']].copy().drop_duplicates().dropna()
war_locations.to_csv('Data/Wrangled/war_locations.csv', index=False)

In [11]:
war_largerconflict = war[['warID', 'largerConflictID']].copy().drop_duplicates().dropna()
war_largerconflict.to_csv('Data/Wrangled/war_largerconflicts.csv', index=False)

### Houston, we have a problem

In [12]:
conflictIDs = set(war['largerConflictID'].dropna().unique())
warIDs = set(war['warID'].dropna().unique())
not_wars = conflictIDs - warIDs
len(conflictIDs), len(not_wars)

(75, 41)

Out of 75 larger conflicts, 41 are not wars, and thus will not be present in the wars table, so there cannot be a foreign key to the wars table as is.

In [13]:
pwIDs = set(war['prevWarID'].dropna().unique())
warIDs = set(war['warID'].dropna().unique())
not_wars_pw = pwIDs - warIDs
len(pwIDs), len(not_wars_pw)

(8, 3)

In [14]:
nwIDs = set(war['nextWarID'].dropna().unique())
warIDs = set(war['warID'].dropna().unique())
not_wars_nw = nwIDs - warIDs
len(nwIDs), len(not_wars_nw)

(7, 2)

In [15]:
not_wars_pw, not_wars_nw

({'Q2405009', 'Q2629782', 'Q2992527'}, {'Q2405009', 'Q3446062'})

There's also a problem with some of the "next wars" and "previous wars" - 4 of them aren't in the original war list.

- Q2405009 lacks an "instance of" attribute
- Q2629782 and Q2992527 happen before 1945
- Q3446062 is an instance of conflict, not of war

## Create Locations table

- locationID
- locationName
- locationType
- coordinates

In [16]:
locs

,location,locationLabel,locationDescription,coordinates,locationID
0,http://www.wikidata.org/entity/Q231151,Tindouf Province,province of Algeria,Point(-8.133333333 27.683333333),Q231151
1,http://www.wikidata.org/entity/Q1480109,Southern Lebanon,geographic region,NaN,Q1480109
2,http://www.wikidata.org/entity/Q5118,Republic of Dagestan,"federal subject of Russia, republic of Russia",Point(46.883333333 43.1),Q5118
3,http://www.wikidata.org/entity/Q889,Afghanistan,sovereign state situated at the confluence of ...,Point(66.0 34.0),Q889
4,http://www.wikidata.org/entity/Q792,El Salvador,sovereign state in Central America,Point(-88.866111 13.668889),Q792
...,...,...,...,...,...
161,http://www.wikidata.org/entity/Q1008,Ivory Coast,sovereign state in Africa,Point(-6.0 8.0),Q1008
162,http://www.wikidata.org/entity/Q217169,Rhodesia,former country in Africa,Point(31.029722 17.863889),Q217169
163,http://www.wikidata.org/entity/Q739,Colombia,sovereign state in South America,Point(-74.0 4.0),Q739
164,http://www.wikidata.org/entity/Q810,Jordan,sovereign state in Western Asia,Point(36.5 31.2),Q810
165,http://www.wikidata.org/entity/Q171965,Luhansk Oblast,oblast in Ukraine,Point(39.02 48.92),Q171965

In [17]:
locations = locs[['locationID', 'locationLabel', 'locationDescription', 'coordinates']].copy().drop_duplicates()

In [18]:
locations[locations.duplicated(subset=['locationID'], keep=False)].sort_values(by='locationID')

,locationID,locationLabel,locationDescription,coordinates
94,Q1288434,Condorcanqui Province,"province of Amazonas, Peru",Point(-77.9 -4.583055555)
78,Q1288434,Condorcanqui Province,"province of Amazonas, Peru",Point(-78.0384 -4.16515)
135,Q1948210,Catatumbo River,river in Venezuela,Point(-71.710555555 9.344166666)
121,Q1948210,Catatumbo River,river in Venezuela,Point(-71.7106 9.344169444)
18,Q1993836,Ecuador–Peru border,divides the territories of Ecuador and Peru,Point(-81.153481 -3.392125)
103,Q1993836,Ecuador–Peru border,divides the territories of Ecuador and Peru,Point(-75.257994 -0.118174)
57,Q2399139,Bangladesh–India border,Separates territories of Bangladesh and India ...,Point(92.608328703 21.976388888)
91,Q2399139,Bangladesh–India border,Separates territories of Bangladesh and India ...,Point(89.708888888 18.565)
16,Q3088996,Syria–Turkey border,international border,Point(35.159166666 36.014444444)
19,Q3088996,Syria–Turkey border,international border,Point(42.363888888 37.111106481)
96,Q3089020,Burkina Faso–Mali border,international border,Point(-5.519444444 10.434717592)
100,Q3089020,Burkina Faso–Mali border,international border,Point(0.230555555 14.988888888)
148,Q882739,Blue Nile,river in Africa and tributary of the Nile River,Point(32.501944444 15.623611111)
138,Q882739,Blue Nile,river in Africa and tributary of the Nile River,Point(37.25 12.0)
119,Q882739,Blue Nile,river in Africa and tributary of the Nile River,Point(37.408 11.6206)
49,Q899,Suez Canal,canal in Egypt between the Mediterranean and R...,Point(32.344166666 30.705)
14,Q899,Suez Canal,canal in Egypt between the Mediterranean and R...,Point(32.562777777 29.931388888)

In [19]:
locations = locations.drop([78, 135, 19, 138, 148, 14])

In [20]:
locations.to_csv('Data/Wrangled/locations.csv', index=False)

## Create War_Participants table

- warID
- participantID

In [21]:
war_participants = war_par[['warID', 'participantID']].copy().drop_duplicates().dropna()
war_participants.to_csv('Data/Wrangled/war_participants.csv', index=False)

## Create Participants table

- participantID
- participantLabel
- participantDescription
- type
- inception
- dissolved
- countryCode

In [23]:
participants = par[['participantID', 'participantLabel', 'participantDescription', 'type', 'inception', 'dissolved', 'countryCode']].copy()

In [25]:
participants[participants.duplicated(subset=['participantID'], keep=False)].sort_values(by='participantID')

,participantID,participantLabel,participantDescription,type,inception,dissolved,countryCode
166,Q146885,Second Syrian Republic,government of Syria from 1950 to 1958 and 1961...,State,1950-01-01T00:00:00Z,1963-01-01T00:00:00Z,NaN
168,Q146885,Second Syrian Republic,government of Syria from 1950 to 1958 and 1961...,State,1950-01-01T00:00:00Z,1958-01-01T00:00:00Z,NaN
197,Q146885,Second Syrian Republic,government of Syria from 1950 to 1958 and 1961...,State,1961-01-01T00:00:00Z,1963-01-01T00:00:00Z,NaN
200,Q146885,Second Syrian Republic,government of Syria from 1950 to 1958 and 1961...,State,1961-01-01T00:00:00Z,1958-01-01T00:00:00Z,NaN
370,Q20,Norway,sovereign state in Northern Europe,State,0900-01-01T00:00:00Z,NaN,NOR
369,Q20,Norway,sovereign state in Northern Europe,State,1905-06-07T00:00:00Z,NaN,NOR
366,Q20,Norway,sovereign state in Northern Europe,State,1905-10-26T00:00:00Z,NaN,NOR
357,Q20,Norway,sovereign state in Northern Europe,State,1814-05-17T00:00:00Z,NaN,NOR
280,Q2429253,Islamic State of Iraq and the Levant,Salafi jihadist terrorist and militant group,State,2006-01-01T00:00:00Z,NaN,NaN
276,Q2429253,Islamic State of Iraq and the Levant,Salafi jihadist terrorist and militant group,State,1999-01-01T00:00:00Z,NaN,NaN
398,Q736,Ecuador,sovereign state in South America,State,1809-08-10T00:00:00Z,NaN,ECU
383,Q736,Ecuador,sovereign state in South America,State,1811-10-11T00:00:00Z,NaN,ECU
401,Q736,Ecuador,sovereign state in South America,State,1822-05-24T00:00:00Z,NaN,ECU
300,Q79,Egypt,sovereign state in Africa and Asia,State,-3149-01-01T00:00:00Z,NaN,EGY
299,Q79,Egypt,sovereign state in Africa and Asia,State,1922-02-28T00:00:00Z,NaN,EGY
399,Q869,Thailand,sovereign state in Southeast Asia,State,1238-01-01T00:00:00Z,NaN,THA
505,Q869,Thailand,sovereign state in Southeast Asia,State,1768-12-28T00:00:00Z,NaN,THA
371,Q881,Vietnam,sovereign state in Southeast Asia,State,1976-07-02T00:00:00Z,NaN,VNM
325,Q881,Vietnam,sovereign state in Southeast Asia,State,1945-09-02T00:00:00Z,NaN,VNM
362,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,1709-01-01T00:00:00Z,NaN,AFG
354,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,2002-01-01T00:00:00Z,NaN,AFG
375,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,1973-01-01T00:00:00Z,NaN,AFG
376,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,1747-06-19T00:00:00Z,NaN,AFG
342,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,1926-01-01T00:00:00Z,NaN,AFG
341,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,1992-01-01T00:00:00Z,NaN,AFG
332,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,1978-01-01T00:00:00Z,NaN,AFG
364,Q889,Afghanistan,sovereign state situated at the confluence of ...,State,1823-01-01T00:00:00Z,NaN,AFG

In [26]:
participants = participants.drop([])

In [27]:
participants.to_csv('Data/Wrangled/participants.csv', index=False)